<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tech hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse">
      
    </div>
    <form class="form-inline my-2 my-lg-0">
        <a class="nav-item nav-link active cal" href="/">Home <span class="sr-only">(current)</span></a>
        
      </form>
  </nav>