<!DOCTYPE html>
<html>
<head>
    <title>Techhub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
    <link rel="stylesheet" href="/public/css/about.css">  
</head>
<body>
  <%-include('partials/header')%>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <center>
                <h1>About</h1><br>
                  <div class="container">         
                    <h5>Tech HUB will help students to have an effective communication between their batchmates and will help them gain information among themselves.
                      It will help students to know about other person skills and will help them form an effective team for various competitions and hackathons. Focus is laid on peer learning and group learning, where in students are taught by the student mentors only. Students can participate in various national and international level events
                      The mission of this website is to advance knowledge and educate students in science, technology and areas that will best serve the nation and the world in 21st century.</h5>
                  </div> 
                </center>
            </div>
        </div>
    </div>

   <script type="text/javascript" scr="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html> 